:root {
  --default-font: "Roboto", sans-serif;
}
.container {
  border-radius: 20px;
  margin: 0 auto;
}
h1,
h2,
h3,
p {
  font-family: var(--default-font);
}
.header {
  text-align: center;
  padding: 80px;
}
.header h1 {
  font-size: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: none;
  margin-top: 5px;
  margin-left: auto;
}
.request {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #1a191c;
  color: #fff;
  margin-left: 10px;
}
.signing {
  background-color: #4c5fd5;
  color: #fff;
  margin: 10px;
  border: 1px solid none;
  border-radius: 4px;
}
.front {
  background-color: #000;
  padding: 0;
  padding-top: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}
span {
  padding: 20px;
  margin-bottom: 10px;
  font-family: var(--default-font);
}
input {
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #494949;
}
.header {
  background-color: #dadbf1;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
a {
  text-decoration: none;
  font-family: var(--default-font);
}
.branches {
  padding: 80px;
}
.col-3 {
  justify-content: space-around;
}
footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: start;
  padding: 40px;
}
footer li {
  font-size: 13px;
}
footer h3 {
  font-size: 20px;
}
li {
  list-style-type: none;
}
